@font-face {
  font-family: 'stamp_rspk_onelight';
  src: url('stamprspkone-light-webfont.woff2') format('woff2'),
       url('stamprspkone-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'stamp_rspk_oneregular';
  src: url('stamprspkone-regular-webfont.woff2') format('woff2'),
       url('stamprspkone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
height: 100%;
}

body {
  background-color: #EFE6CD;
  width: 375px;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 60px;
  top: 0;
  background-color: #7D8758;
  border-bottom-style: solid;
}

#klein_logo {
  width: 50px;
  margin: 10px;
}

.hamburger, .close {
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
}

.hamburger img, .close img {
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  width: 40%;
  height: 667px;
  overflow: hidden;
  list-style: none;
  background-color: #5E6542;
  border-left-style: solid;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}


.navbar:target {
  transform: translateY(0);
}

.navbar li {
  background-color: #BCB088;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  border-style: solid;
}

#active {
  background-color: #918560; 
}

.navbar li a {
  width: 80px;
  display: block;
  font-family: 'stamp_rspk_oneregular';
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}

#omc {
  padding-right: 20px;
}


main {
  margin-top: 20%;
  margin-bottom: 10%;
}

.invisable {
  color: transparent;
  font-size: 1px;
}

h1 {
  font-family: 'stamp_rspk_oneregular';
  font-size: 28px;
  margin-left: 10px;
}

h2 {
  font-family: 'stamp_rspk_oneregular';
  font-size: 22px;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  font-family: 'stamp_rspk_onelight';
  font-size: 16px;
  margin: 10px;
  
}

.home_nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

#button_one {
  width: 50px;
  margin-top: 10px;
  margin-left: 25px;
}

#button_two {
  width: 70px;
  margin-top: 10px;
  margin-left: 73px;
}

#button_three {
  width: 50px;
  margin-top: 10px;
  margin-left: 53px;
}

.home_nav ul li a {
  text-decoration: none;
  font-family: 'stamp_rspk_oneregular';
  color: black;
  margin: 0;
}

#first {
  justify-content: space-between;
  position: absolute;
  z-index: -1;
  width: 30%;
  margin-left: 10px;
}

#second {
  justify-content: space-between;
  position: absolute;
  z-index: -1;
  width: 30%;
  margin-left: 132px;
}

#third {
  justify-content: space-between;
  position: absolute;
  z-index: -1;
  width: 30%;
  margin-left: 255px;
}

#textbox_left {
  width: 70%;
}

#textbox_right {
  width: 345px;
  text-align: right;
  padding-left: 25%;
}

.quote {
  font-size: 24px;
  text-align: center;
  margin-left: 15%;
  margin-top: 1em;
  margin-right: 15%;
  margin-bottom: 1em;
}

.logo img{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;

}



.gallerij {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
}

.gallerij img {
  height: 138px;
  padding: 1px;
  filter: grayscale(50%);
}

#kas_plant {
  height: 150px;
  margin-left: 10px; 
}

#pijl_r {
  position: absolute;
  height: 300px;
  z-index: -1;
  top: 42em;
  right: 1em;
}

#pijl_l {
  position: absolute;
  height: 290px;
  z-index: -1;
  top: 65em;
  left: 1em;
}

#keuken {
  height: 100px;
  margin-left: 85px;
  margin-top: 2em;
  margin-bottom: 1em;
}

#bord {
  height: 100px;
  margin-left: 10px;
  margin-top: 2em;
  margin-bottom: 1em;
}

#sterren {
  width: 60%;
  margin-bottom: 2em;
}
.lijn {
  width: 80%;
  margin-left: 10%;
}

.balk {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.balk p {
  position: absolute;
  font-family: 'stamp_rspk_oneregular';
  font-size: 18px;
  z-index: 1;
  line-height: 30px;
  width: 90px;
  margin-top: 1em;
}

#centre {
  margin-left: 33%;
}

.right {
margin-left: 63%;
}

.balk img {
  height: 129px;
}

.wide {
  width: 217px;
}

table {
  margin-left: 10px;
}

table td {
  font-family: 'stamp_rspk_onelight';
  width: 150px;
  vertical-align: top;
  text-decoration: none;
  color: black;
}
footer {
  position: absolute;
  width: 375px;
  background-color: #7D8758;
  z-index: -2;
 
  border-top-style: solid;
  border-color: black;
}

.footer_nav ul {
  margin-left: 10px;
  padding: 0;
 list-style: none;
}

.footer_nav ul li a {
 font-family: 'stamp_rspk_onelight';
 font-size: 20px;
 color: black;
 line-height: 30px;
}

.footer_nav img {
  width: 40px;
  margin-top: 20px;
  margin-left: 147.5px;
}

.background_footer {
  position: absolute;
  z-index: -1;
}

#email{
  font-family: 'stamp_rspk_onelight';
  font-size: 16px;
  width: 55%;
  height: 24px;
  margin-left: 10px;
}

#submit {
  font-family: 'stamp_rspk_onelight';
  font-size: 20px;
  margin-right: 40px;
  background-color: #BCB088;
  border-style: solid;
  border-color: black;
  width: 28%;
}

#checkbox {
margin-left: 10px;
}

.algemene_voorwaarden {
  font-family: 'stamp_rspk_onelight';
  font-size: 16px;
  color: black;
}

#rights {
  font-size: 12px;
  text-align: center;
  padding: 10px;
}

ol {
  font-family: 'stamp_rspk_onelight';
  margin: 30px;
}

